        body {
            color: white;
            background-color: black;
            text-align: center;
        }
        button {
            background-color: blue;
            color: white;
            border-radius: 3px;
            padding: 10px;
            margin: 5px;
            position: relative; /* Ensures button is positioned above iframe */
            z-index: 10; /* Ensure button is above iframe */
        }
        .iframe-container {
            position: relative;
            width: 100%;
            height: 100vh; /* Full height for the iframe */
        }
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
            z-index: 1; /* Keep iframe below buttons */
        }
        a.panic {
            background: linear-gradient(to right, #ff0000, #ff0000);
            background-color: #ff0000;
            color: #fff;
            font-family: Trebuchet MS;
            font-size: 18px;
            font-weight: 800;
            text-decoration: none;
            padding: 14px 15px;
            border-radius: 10px;
            display: inline-block;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 20; /* Ensure panic button is above everything */
        }

